@font-face {
    font-family: font-3;
    src: url(../../Assets/Fonts/Menlo-Regular.ttf);
}

@font-face {
    font-family: font-2;
    src: url(../../Assets/Fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: font-1;
    src: url(../../Assets/Fonts/Montserrat-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    font-size: 16px;
    font-family: font-1;
    --swiper-theme-color: var(--Theme1-Color3);
    --Theme1-Color1: #262b35;
    --Theme1-Color2: #1a1e27;
    --Theme1-Color3: #F78361;
    --Theme1-Color4: #9c523c;
}

::selection {
    color: white;
    background: var(--Theme1-Color3);
}

body {
    font-family: Poppins;
    cursor: url(../../Assets/Images//cursors/Arrow.cur), auto;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #222222;
    background: repeating-linear-gradient(45deg,
            #1a1e27 0%,
            #2b2b2b 10%,
            #1a1e27 0%,
            #1a1e27 50%) 0 / 15px 15px;
    overflow: hidden;
    user-select: none;
}

#exit {
    display: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

#computer {
    top: 0;
    position: absolute;
    color: var(--Theme1-Color3);
    display: block;
    left: 50%;
    transform: translateX(-48%);
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
    padding: 0;
    width: 10.5ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
    font: 2rem droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    z-index: 1;
    cursor: url(../../Assets/Images//cursors/IBeam.cur), auto;
}

input:focus {
    outline: none;
    color: white;
}

#content {
    font-family: font-2;
    height: 100vh;
}

#upper-part {
    height: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.swiper {
    position: fixed;
    display: flex;
    height: 100%;
}

.fa-2x {
    --fa-primary-color: #8A8791;
    --fa-secondary-color: #8A8791;
}

.fa-4x {
    color: white;
}

#app-title-param {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}


#console {
    padding-top: 12px;
    display: flex;
    position: absolute;
    height: 50%;
    width: 100%;
    background: var(--Theme1-Color1);
    bottom: 0px;
    border-radius: 20px 20px 0 0;
    border-top: solid 1px var(--Theme1-Color3);
    user-select: text;
    cursor: url(../../Assets/Images//cursors/IBeam.cur), auto;
    z-index: 998;
}

#console-wrapper {
    animation: glow 5s infinite alternate;
}



#inner-console {}

.console-overflow {
    overflow-y: auto;
}


#default-text {
    line-height: normal;
}

#console::-webkit-scrollbar {
    width: 0.25rem;
}

#console::-webkit-scrollbar-track {
    background: #1e1e24;
    margin-top: 15px;
}

#console::-webkit-scrollbar-thumb {
    background: var(--Theme1-Color3);
    border-radius: 10px;
}

#output {
    font-family: font-3;
    font-size: 1rem;
    margin-left: 20px;

}

.display-flex {
    display: flex;
}

.response {}

.buttons {
    font-family: Poppins;
    font-size: 0.8rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Theme1-Color3);
    border-radius: 20px;
    width: 120px;
    height: 120px;
    padding: 5px;
}

.btn:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    color: white;
    background-color: var(--Theme1-Color4);
}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Theme1-Color3);
    border-radius: 20px;
    width: 100%;
    height: 60px;
    padding: 5px;
}

.btn2:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    color: white;
    background-color: var(--Theme1-Color4);
}

#btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    margin-top: -53px;
    height: 40px;
    width: 40px;
    background: var(--Theme1-Color1);
    z-index: 8000;
    border-radius: 20px 20px 0 0;
    font-size: 0.6rem;
}

#btn-astuces {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 60px;
    margin-top: -53px;
    height: 40px;
    width: 40px;
    background: var(--Theme1-Color1);
    z-index: 8000;
    border-radius: 20px 20px 0 0;
    font-size: 0.6rem;
}

#btn-param {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 60px;
    margin-top: -53px;
    height: 40px;
    width: 40px;
    background: var(--Theme1-Color1);
    z-index: 888;
    border-radius: 20px 20px 0 0;
    font-size: 0.6rem;
}


#btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    margin-top: -53px;
    height: 40px;
    width: 40px;
    background: var(--Theme1-Color1);
    z-index: 888;
    border-radius: 20px 20px 0 0;
    font-size: 0.6rem;
}

#btn-clear:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
    background: #444d5f;
    z-index: 8000;
}

#btn-astuces:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
    background: #444d5f;
    z-index: 8000;
}

#btn-param:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
    background: #444d5f;

}

#btn-more:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
    background: #444d5f;
}

#btn-clear .fa-2x {
    --fa-primary-color: var(--Theme1-Color3);
    --fa-secondary-color: #8A8791;
}

#btn-astuces .fa-2x {
    --fa-primary-color: var(--Theme1-Color3);
    --fa-secondary-color: #8A8791;
}

#btn-param .fa-2x {
    --fa-primary-color: var(--Theme1-Color3);
    --fa-secondary-color: #8A8791;
}

#btn-more .fa-2x {
    --fa-primary-color: var(--Theme1-Color3);
    --fa-secondary-color: #8A8791;
}

#computer-type-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 14rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 20000;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px var(--Theme1-Color4);
    }

    to {
        box-shadow: 0 0 50px 10px var(--Theme1-Color3);
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
        /* The image width */
    }
}

@keyframes credits {
    0% {
        top: 100%;
    }

    100% {
        top: -500%;
    }
}

/* CA VA ÊTRE A SUPPRIMER C'EST SUR LA 2E et 3E PAGE MON TETON */
.tocome {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Theme1-Color3);
}

#param-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#param {
    display: none;
    position: absolute;
    top: 20%;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    z-index: 999;
    border: solid 1px var(--Theme1-Color3);

    color: white;
    background-color: #222222;
    background: repeating-linear-gradient(135deg,
            #1a1e27 0%,
            #2b2b2b 10%,
            #1a1e27 0%,
            #1a1e27 50%) 0 / 15px 15px;
}

#param-topbar {
    display: flex;
    position: relative;
    height: 30px;
    width: 100%;
    background: var(--Theme1-Color2);
    border-radius: 20px 20px 0 0;
    border-bottom: solid 1px var(--Theme1-Color3);
}

#param-dragbar {
    user-select: none;
    height: 30px;
    width: 100%;
    background: var(--Theme1-Color2);
    border-radius: 20px 20px 0 0;
}

#param-sidebar {
    position: absolute;
    top: 0px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    z-index: -1;
    background: var(--Theme1-Color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#param-console-content {
    display: block;
    padding: 1.30rem;
    margin-top: 14px;
    padding-right: 2.55rem;
    width: 738px;
    margin-left: 200px;
    border-radius: 0 0 20px 0;
    height: 427px;
    overflow-y: auto;
    overflow-x: hidden;
}

#param-assistant-content {
    display: none;
    padding: 1.30rem;
    margin-top: 14px;
    padding-right: 2.55rem;
    width: 738px;
    margin-left: 200px;
    border-radius: 0 0 20px 0;
    height: 427px;
    overflow-y: auto;
    overflow-x: hidden;
}

#param-theme-content {
    display: none;
    padding: 1.30rem;
    padding-right: 1.3rem;
    width: 758px;
    margin-left: 200px;
    border-radius: 0 0 20px 0;
    height: 427px;
    overflow-y: auto;
    overflow-x: hidden;
}

#param-theme-content::-webkit-scrollbar {
    width: 0.25rem;
}

#param-theme-content::-webkit-scrollbar-track {
    background: #1e1e24;
}

#param-theme-content::-webkit-scrollbar-thumb {
    background: var(--Theme1-Color3);
    border-radius: 10px;
}

#param-theme-content::-webkit-scrollbar-track {
    margin-bottom: 20px;
}

.content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#param-update-content {
    display: none;
    padding: 1.30rem;
    margin-top: 14px;
    padding-right: 2.55rem;
    width: 738px;
    margin-left: 200px;
    border-radius: 0 0 20px 0;
    height: 427px;
    overflow-y: auto;
    overflow-x: hidden;
}

#param-credits-content {
    display: none;
    padding: 1.30rem;
    margin-top: 14px;
    padding-right: 2.55rem;
    width: 738px;
    margin-left: 200px;
    border-radius: 0 0 20px 0;
    height: 413px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}


#param-credits-content::-webkit-scrollbar {
    width: 0.25rem;
}

#param-credits-content::-webkit-scrollbar-track {
    background: #1e1e24;
}

#param-credits-content::-webkit-scrollbar-thumb {
    background: var(--Theme1-Color3);
    border-radius: 10px;
}

#param-credits-content::-webkit-scrollbar-track {
    margin-bottom: 30px;
}


.param-section:hover {
    background: var(--Theme1-Color2);
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    border-right: 1px solid var(--Theme1-Color3);

}

.param-section-activated {
    color: var(--Theme1-Color3);
    border-right: 1px solid var(--Theme1-Color3);
    transition: 0.2s;
}

.param-section {
    display: flex;
    align-items: center;
    background: var(--Theme1-Color1);
    padding-right: 1rem;
    padding-left: 1rem;
    height: 60px;
}

.param-build {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
}

#slide-1 {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 90fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "left center right"
    ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#slide-2 {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#bgs2 {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    opacity: 0.2;
    z-index: -9999;
}


#ping-container {
    position: absolute;
    left: 50%;
    top: 112px;
    transform: translateX(-50%);
}

#ping-text {
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: bolder;
    color: green;
    text-transform: uppercase;
    z-index: 99999;
}

.line {
    padding-bottom: 1rem;
    display: block;
    position: relative;
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    -webkit-user-select: none;
    user-select: none;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: var(--Theme1-Color3);
    border-radius: 20px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 55%;
    transform: translateY(-50%);
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 39%;
    transform: translateY(-50%);
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--Theme1-Color3);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 20px;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#colors-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
}

#console-colors-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
    gap: 12px;
}

.color:hover {
    outline: 10px solid white;
    outline-offset: -30px;
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
}

.colorJS {
    outline: 2px solid white;
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
}

.colorJS-white {
    outline: 3px solid rgb(6, 6, 6);
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
}


.color {
    height: 2.5rem;
    width: 2.5rem;
}

.console-color {
    height: 2.5rem;
    width: 2.5rem;
}

.console-color:hover {
    cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
    transition: 0.2s;
    -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
}

#nuance-default {
    background: #F78361;
    border-radius: 50%;
}

#nuance-1 {
    background: #DF6C7F;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-2 {
    background: #B06392;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-3 {
    background: #785F90;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-4 {
    background: #485679;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-5 {
    background: #2F4858;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-6 {
    background: #1C6E7D;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-7 {
    background: #039590;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-8 {
    background: #4BBC8E;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-9 {
    background: #9BDE7E;
    border-radius: 50%;
    margin-left: 1rem;
}

#nuance-10 {
    background: #F9F871;
    border-radius: 50%;
    margin-left: 1rem;
}

/* COULEURS CONSOLE */

#def {
    background: var(--Theme1-Color3);
    border-radius: 50%;
}

#grey {
    background: #4a4a4a;
    border-radius: 50%;
    margin-left: 1rem;
}

#white {
    background: #ffffff;
    border-radius: 50%;
    margin-left: 1rem;
}

#black {
    background: #000000;
    border-radius: 50%;
    margin-left: 1rem;
}

#windowsBtnStyle-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
}

.line2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    -webkit-user-select: none;
    user-select: none;
}

.line2-credits {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#consoleDel {
    margin-left: 2rem;
}

.hovertext {
    position: relative;
}

.hovertext::before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 100%;
    font-size: 0.8rem;
    z-index: 999;
    display: none;
}

.hovertext:hover::before {
    opacity: 0.8;
    visibility: visible;
    z-index: 999;
}

.astucesActivated {
    padding-bottom: 10px;
    border: 1px solid var(--Theme1-Color3);
}

.wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    font: 300 30px/1 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    animation: 60s credits linear infinite;
}

.movie {
    margin-bottom: 50px;
    font-size: 1rem;
}


@media only screen and (max-width:600px) {

    #param {
        width: 98.8%;
    }

    #slide-1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        height: 90%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "center";
    }

    #computer {
        margin-top: 1.5rem;

    }

    #computer-type-container {
        margin-top: 1rem;
    }

    .buttons {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 0.4rem;
    }

    .btn {
        display: flex;
        height: auto;
        background: var(--Theme1-Color3);
        border-radius: 20px;
        width: 180px;
        padding: 5px;
    }


    .buttons {
        top: 54%;
        left: 0%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #ping-container {
        position: absolute;
        left: 50%;
        top: 91%;
        transform: translateX(-50%);
    }

    #ping-text {
        color: green;
        text-transform: uppercase;
    }

    #output {
        font-size: 0.75rem;
    }

    .param-section {
        font-size: 0.7rem;
    }

    #param-console-content {
        width: 400px;
        margin-left: 150px;
        padding-right: 2.55rem;
        font-size: 0.7rem;
        padding: 1.34rem;
        margin-top: 0px;
    }

    #param-assistant-content {
        width: 400px;
        margin-left: 150px;
        padding-right: 2.55rem;
        font-size: 0.7rem;
        padding: 1.34rem;
        margin-top: 0px;
    }

    #param-theme-content {
        width: 400px;
        margin-left: 150px;
        padding-right: 2.55rem;
        font-size: 0.7rem;
        padding: 1.34rem;
    }

    #param-update-content {
        width: 400px;
        margin-left: 150px;
        padding-right: 2.55rem;
        font-size: 0.7rem;
        padding: 1.34rem;
        margin-top: 0px;
    }

    #param-credits-content {
        width: 400px;
        margin-left: 150px;
        padding-right: 2.55rem;
        font-size: 0.7rem;
        padding: 1.34rem;
        margin-top: 0px;
        height: 426px;
    }

    #autocopy {
        margin-right: 400px;
    }

    .color {
        height: 1.2rem;
        width: 1.2rem;
    }

    .console-color {
        height: 1.2rem;
        width: 1.2rem;
    }

    #console-colors-container {
        gap: 2px;
    }

    .color:hover {
        outline: 5px solid white;
        outline-offset: -30px;
        cursor: url(../../Assets/Images//cursors/Hand.cur), auto;
        transition: 0.2s;
    }

    .colorJS {
        -webkit-box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .line2 {
        flex-direction: row;
    }
}

@media only screen and (min-width:1921px) {

    .btn {
        width: 154px;
        height: 154px;
    }

    #computer {
        top: 0;
        position: absolute;
        color: var(--Theme1-Color3);
        display: block;
        left: 50%;
        transform: translateX(-48%);
        margin-top: 4rem;
        margin-bottom: 1rem;
        border: none;
        padding: 0;
        width: 10.5ch;
        background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
        font: 3rem droid sans mono, consolas, monospace;
    }

    #computer-type-container {
        margin-top: 3.6rem;
        font-size: 25px;
        gap: 20rem;
    }

    #ping-container {
        position: absolute;
        left: 50%;
        top: 22%;
        transform: translateX(-50%);
    }

    #ping-text {
        font-size: 1.2rem;
    }

}